<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div ng-controller="Controller">
    <form novalidate>
        Name: <input type="text" ng-model="user.name" /><br />
        E-mail: <input type="email" ng-model="user.email" /><br />
        Gender: <input type="radio" ng-model="user.gender" value="male"/>male
        <input type="radio" ng-model="user.gender" value="female" />female<br />
        <button ng-click="reset()">RESET</button>
        <button ng-click="update(user)">SAVE</button>
    </form>
    <pre>form = {{user | json}}</pre>
    <pre>master = {{master | json}}</pre>
</div>
<script src="js/angular-1.3.0.js"></script>
<script>
    angular.module('myApp',[]).controller('Controller',function($scope){
        $scope.master= {};

        $scope.update = function(user) {
            angular.copy(user,$scope.master);
        };

        $scope.reset = function() {
            angular.copy($scope.master,$scope.user);
        };

        $scope.reset();
    })
</script>
</body>
</html>